<tr th:fragment="racunRow" th:id="${racun.racunId}">
    <td contenteditable="true" th:text="${racun.racunId}"></td>
    <td contenteditable="true" th:text="${racun.iban}"></td>
    <td contenteditable="true" th:text="${racun.tipRacuna}"></td>
    <td contenteditable="true" th:text="${racun.valuta}"></td>
    <td contenteditable="true" th:text="${racun.klijentId}"></td>
    <td contenteditable="true" th:text="${racun.datumOtvaranja}"></td>
    <td contenteditable="true" th:if="${racun.datumZatvaranja} != null" th:text="${racun.datumZatvaranja}"></td>
    <td contenteditable="true" th:if="${racun.datumZatvaranja} == null" th:text="zauvijek"></td>
    <td class="d-flex gap-2">
        <button class="btn btn-secondary" th:onclick="updateRacun(/*[[${racun.racunId}]]*/)" >Ažuriraj</button>

        <form th:action="@{/racun/delete/{id}(id=${racun.racunId})}" th:method="POST">
            <input type="hidden" name="date" th:value="${date}" />
            <button class="btn btn-danger" type="submit" >Obriši</button>
        </form>
    </td>
</tr>