<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
<body>

    <a th:href="@{/greeting}">
        <button>greeting</button>
    </a>

    <h1>Racuni</h1>
    <form th:action="@{/}" method="post">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" th:value="${date}">
        <button type="submit">Prikaži</button>
    </form>
    <table>
        <thead>
            <tr>
                <tr>Id</tr>
                <tr>IBAN</tr>
                <tr>Tip Racuna</tr>
                <tr>Valuta</tr>
                <tr>Klijent Id</tr>
                <tr>Datum otvaranja</tr>
                <tr>Datum zatvaranja</tr>
            </tr>
        </thead>
        <tbody>
            <tr th:each="racun : ${racuni}">
                <td th:text="${racun.racunId}"></td>
                <td th:text="${racun.iban}"></td>
                <td th:text="${racun.tipRacuna}"></td>
                <td th:text="${racun.valuta}"></td>
                <td th:text="${racun.klijentId}"></td>
                <td th:text="${racun.datumOtvaranja}"></td>
                <td th:if="${racun.datumZatvaranja} != null" th:text="${racun.datumZatvaranja}"></td>
                <td th:if="${racun.datumZatvaranja} == null" th:text="zauvijek"></td>
            </tr>       
        </tbody>

    </table>    

</body>
</html> 

<script>
    console.log(date);
</script>